{% extends 'layout.html' %}
{% block content %}
    <style>
        button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 20px;
            display: block;
            max-height: 50px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
    <h2>Admin</h2>
    <div class="status-pane-div">
        <h2>Nodes</h2>
        <a href="{{ url_for('admin.node_config_view') }}">
            <button>Reset Node Configuration</button>
        </a>
        <ul class="status-pane-list">
            {% for node in nodes %}
                {% set node_index = loop.index0 %}
                <li class="status-pane-li">
                    <div class="status-pane-div">
                        <h2>Node {{ node_index.index }}</h2>
                        <p>Type: <strong>{{ node.type }}</strong></p>
                        <p>Hostname: <strong>{{ node.hostname }}</strong></p>
                        <p>Last Active: <strong>{{ node.hostname }}</strong></p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="status-pane-div">
        <h2>All Experiments</h2>
        <ul class="status-pane-list">
            {% for exp in experiments %}
                <li class="status-pane-li">
                    <div class="status-pane-div" style="background: #f4f4f4; display: flex;
                            flex-flow: row;
                            justify-content: space-between;">
                        <div>
                            <h2><a style="text-decoration: none"
                                   href="/experiment/{{ exp.experiment_uuid }}">{{ exp.experiment_uuid }}</a></h2>
                            <p>Created by <strong>{{ exp.created_by }}</strong> at
                                <strong>{{ ts_formatted(exp.created_at) }}</strong></p>
                            <p>Node Count: <strong>{{ exp.nodes|length }}</strong></p>
                            <h4>Status:</h4>
                            <p>{{ exp.status.name.lower() }}</p>
                            <h4>Output Log:</h4>
                            {% if exp.results %}
                                <div class="terminal">
                                    <div class="log-content">
                                        {% for result in exp.results %}
                                            <div>{{ ts_formatted(result.ts) }}: {{ result.data }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <p>No results are currently available.</p>
                            {% endif %}
                        </div>
                        <button type="button" id="{{ exp.experiment_uuid }}" onclick="buttonPressed()">Start Experiment
                        </button>
                        <script type="text/javascript">
                            const socket = io.connect('http://' + document.domain + ':' + location.port);

                            function buttonPressed(event) {
                                let buttonId = event.target.id; // Get the ID of the button
                                socket.emit('start_exp_press', {id: buttonId});
                            }

                            socket.on('start_response', function (msg) {
                                alert(msg.message);
                            });
                        </script>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}