<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMILE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<div class="navbar">
    <a class="nav-title" href="/">RAPTURE</a>
    <nav>
        <ul>
            <li><a href="/new">New Experiment</a></li>
            <li><a href="/status">Experiment Status</a></li>
            {% if 'loggedin' in session %}
                {% if 'admin' in session %}
                    <li><a href="/admin">Admin</a></li>
                {% else %}
                    <li><a href="/account">Account</a></li>
                {% endif %}
                <li><a href="/logout">Log Out</a></li>
            {% else %}
                <li><a href="/login">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                <div class="message-text">{{ message }}</div>
                <div class="close-btn" onclick="this.parentElement.style.display='none';">&times;</div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>
</html>