{% extends 'layout.html' %}
{% block content %}
    <ul class="status-pane-list">
        {% for node in nodes %}
            {% set node_index = loop.index0 %}
            <li class="status-pane-li">
                <div class="status-pane-div">
                    <h2>Node {{ node_index.index }}</h2>
                    <p>Type: <strong>{{ node.type }}</strong></p>
                    <p>Hostname: <strong>{{ node.hostname }}</strong></p>
                    <!-- Dropdown for node options -->
                    <label for="dropdown-{{ node_index }}">Select Value:</label>
                    <select id="dropdown-{{ node_index }}" class="dropdown">
                        {% for value in current_app.config['NODE_TYPES'] %}
                            <option value="{{ value }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="updateNodeType({{ node_index }})">Confirm</button>
                    <span id="success-{{ node_index }}"></span>
                </div>
            </li>
        {% else %}
            <li class="status-pane-li">
                <div class="status-pane-div">
                    No nodes are currently available.
                </div>
            </li>
        {% endfor %}
    </ul>
    <script>
        let socket = io();

        function updateNodeType(nodeIndex) {
            let selectElement = document.getElementById('dropdown-' + nodeIndex);
            let successElement = document.getElementById('success-' + nodeIndex);
            let selectedValue = selectElement.options[selectElement.selectedIndex].value;
            socket.emit('update_node_type', {index: nodeIndex, value: selectedValue});

            // Listen for the success response
            socket.on('update_node_type_status_' + nodeIndex, function (data) {
                // Change based on response success
                if (data.success) {
                    successElement.innerHTML = 'Updated successfully!';
                } else {
                    successElement.innerHTML = 'Update Failed!';
                }

                // Clear after 5 seconds
                setTimeout(function () {
                    successElement.innerHTML = '';
                }, 5000);
            });
        }
    </script>
{% endblock %}
