{% extends 'layout.html' %}
{% block content %}
    <h2>Experiment Status</h2>
    <p>Logged in as <strong>{{ user.name_id }}</strong></p>
    {% if user.experiment_ids %}
        <ul class="status-pane-list">
            {% for experiment in experiments %}
                <li class="status-pane-li">
                    <div class="status-pane-div" id="experiment-{{ experiment.experiment_uuid }}">
                        <h2><a style="text-decoration: none"
                               href="/experiment/{{ experiment.experiment_uuid }}">{{ experiment.name }}</a></h2>
                        <p>Created by <strong>{{ experiment.created_by }}</strong> at
                            <strong>{{ ts_formatted(experiment.created_at) }}</strong></p>
                        <div id="status-{{ experiment.experiment_uuid }}"
                             hx-get="/experiment/{{ experiment.experiment_uuid }}/status/"
                             hx-trigger="every 1s" hx-target="this">
                            <div id="status-{{ experiment.experiment_uuid }}">
                                <p>Status: <strong>{{ experiment.status.name }}</strong></p>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No experiments are currently available.</p>
    {% endif %}
{% endblock %}
