<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMILE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<div class="navbar">
    <a class="nav-title" href="/">RAPTURE</a>
    <nav>
        <ul>
            <li><a href="/new">New Experiment</a></li>
            <li><a href="/status">Experiment Status</a></li>
            {% if 'loggedin' in session %}
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Log Out</a></li>
            {% else %}
                <li><a href="/login">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="message">
                <div class="message-text">{{ message }}</div>
                <div class="close-btn" onclick="this.parentElement.style.display='none';">&times;</div>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}
</body>
</html>