{% extends 'layout.html' %}
{% block content %}
    <h2>Experiment Status</h2>
    <p>Logged in as: {{ user.name_id }}</p>
    {% if user.experiment_ids %}
        <ul class="status-pane-list">
            {% for exp in exps %}
                <li class="status-pane-li">
                    <div class="status-pane-div">
                        <h2>Experiment {{ exp.experiment_uuid }}</h2>
                        <h4>Status:</h4>
                        <p>{{ exp.status.name.lower() }}</p>
                        <h4>Info:</h4>
                        <p>Created by <strong>{{ exp.created_by }}</strong> at <strong>{{ ts_formatted(exp.created_at) }}</strong></p>
                        <p>Node Count: <strong>{{ exp.nodes|length }}</strong></p>
                        <h4>Output Log:</h4>
                        {% if exp.results %}
                            <div class="terminal">
                                <div class="log-content">
                                    {% for result in exp.results %}
                                        <div>{{ ts_formatted(result.ts) }}: {{ result.data }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <p>No results are currently available.</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No experiments are currently available.</p>
    {% endif %}
{% endblock %}
