{% extends 'layout.html' %}
{% block content %}
    <h2>Experiment Status</h2>
    <p>Logged in as: {{ name_id }}</p>
    {% if exps %}
        <ul class="status-pane-list">
        {% for exp in exps %}
            <li class="status-pane-li">
                <div class="status-pane-div">
                    <h2>Experiment {{ exp.experiment_id }}</h2>
                    <h4>Status:</h4>
                    <p>{{ exp.status_string }}</p>
                    <h4>Results URI:</h4>
                    <p>{{ exp.results }}</p>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No experiments are currently available.</p>
    {% endif %}
{% endblock %}
